
.idea/

pretrained_models/

output/

spleeter/

*.mp3

*.flac

song.txt

venvnew/

venv3.7/

splitAudio/

youtube-dl/

frontend/

build/

static/

dist/

templates/

__pycache__/

*.vtt

*.m4a

*.exe

main.py

Dockerfile

saga.m4a_output.txt

temp.mp3_output.txt

uno.mp3_output.txt

world.execute(me).flac_output.txt

world.execute(me).mp3_output.txt
