
.idea/

pretrained_models/

output/

spleeter/

*.mp3

*.flac

song.txt

venvnew/

venv3.7/

splitAudio/

youtube-dl/

frontend/

build/

static/

dist/

templates/

__pycache__/

*.txt

*.vtt

*.m4a

*.exe

main.py

Dockerfile
